.UploadBox {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  border: 2px dotted var(--primary-color);
  background-color: color-mix(in srgb, var(--primary-color) 2%, #00000000);

  opacity: 0;
  transition: all 0.1s;

  display: flex;
  align-items: center;
}

.UploadBox.Active {
  opacity: 1;
  transition: all 0.1s;
}

.UploadBox__DropzoneText {
  width: fit-content;
  height: fit-content;

  display: block;
  margin: 0 auto;
}
